button.button {
	padding: 0.5rem 2rem;
	font-size: 1rem;
	border: 1px solid $light-background;
	border-radius: 0.5rem;
	position: relative;

	&.button-active {
		background: transparent;
		border-color: $green-mid;
		color: $green-mid;
	}

	&:hover:not(:disabled) {
		cursor: pointer;
	}
}
