table {
	position: relative;
	z-index: 20;
	border-collapse: collapse;
	width: 100%;

	tbody tr {
		border-bottom: 1px solid $gray-dark;
	}

	tr {
		&.row-arsenal td {
			color: $headline-color;
		}

		&:first-child {
			th {
				padding-top: 0;
			}
		}
	}
}

th,
td {
	padding: 0.5rem 1rem;
	text-align: left;
}

th {
	color: $headline-color;
}

// th:first-child,
// td:first-child {
// 	padding: 0.5rem 1rem 0.5rem 0;
// }

th:last-child,
td:last-child {
	// padding: 0.5rem 0 0.5rem 1rem;
	text-align: right;
}
