@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
	margin: 0;
	background-color: $dark-background;
	font-family: 'Inter', sans-serif;
	color: $text-colors;
}
