.premier-league-app {
	display: flex;
	justify-content: center;

	.container {
		display: flex;
		gap: 2rem;
		padding: 4rem;
		max-width: 1460px;
		box-sizing: border-box;
	}

	.content-block {
		background: $light-background;
		border-radius: 1rem;
		padding: 2.5rem;
		box-sizing: border-box;
	}

	.section-grid {
		width: calc(60% - 1rem);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.content-block-standings-table {
		width: calc(40% - 1rem);
		align-self: flex-start;

		.champions-league span {
			background: $blue-dark;
			display: inline-block;
			width: 100%;
			border-radius: 2px;
			position: relative;
			right: 0.6875rem;
			text-align: center;
		}
	}

	.content-block-fixtures {
		display: grid;
		gap: 1.5rem;

		.fixture-row {
			display: flex;
			align-items: center;
			gap: 1rem;

			.schedule {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.team-wrapper {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				flex: 1;
			}

			.team {
				display: flex;
				align-items: center;
				gap: 1rem;

				.text-club-name {
					flex-grow: 1;
				}
			}

			img.teaml-logo {
				max-height: 1.25rem;
			}
		}
	}

	.fixtures-wrapper {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.choose-team-wrapper {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.fixtures-collapsable-wrapper .fixtures-list {
		.fixture:not(:first-child) {
			padding-top: 1.5rem;
		}
	}
}

@media (max-width: 1279px) {
	.premier-league-app {
		.container {
			flex-direction: column;
			max-width: 100%;
		}

		.section-grid,
		.content-block-standings-table {
			width: auto;
		}
	}
}

@media (max-width: 618px) {
	.premier-league-app {
		.container {
			gap: 1rem;
			padding: 1rem;
		}

		.section-grid {
			gap: 1rem;
		}

		.content-block {
			padding: 2rem;
		}

		.fixtures-wrapper {
			grid-template-columns: 1fr;
		}

		.content-block-standings-table {
			width: 100%;
			overflow: auto;
		}
	}
}
