.premier-league-app {
	max-height: 100vh;
	overflow: hidden;
	display: flex;

	.container {
		display: flex;
		gap: 2rem;
		padding: 2rem;
	}

	.content-block {
		background: $light-background;
		border-radius: 1rem;
		padding: 4rem;
		box-sizing: border-box;
	}

	.section-grid {
		width: calc(60% - 1rem);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.content-block-standings-table {
		width: calc(40% - 1rem);
		overflow: auto;
	}

	.content-block-result {
		display: flex;
		gap: 2rem;

		.fixture {
			display: flex;
			flex-basis: 50%;
			flex-direction: column;
			gap: 2rem;
		}

		.schedule {
			display: flex;
			flex-direction: column;
			width: 100%;
			text-align: center;
			font-size: 1rem;
		}

		.team-results {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.team {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.team-result {
			font-size: 1.5rem;
			display: flex;
			justify-content: space-between;
			gap: 1rem;
		}
	}

	img.teaml-logo {
		max-width: 5rem;
	}
}

@media (max-width: 1439px) {
	.premier-league-app {
		max-height: unset;
		overflow: unset;
		flex-direction: column;

		.container {
			flex-direction: column;
		}

		.section-grid,
		.content-block-standings-table {
			width: 100%;
		}

		.content-block-standings-table {
			display: flex;
			justify-content: center;
		}
	}
}

@media (max-width: 820px) {
	.premier-league-app .content-block-result {
		flex-direction: column;
	}
}

@media (max-width: 618px) {
	.premier-league-app {
		.container {
			gap: 1rem;
			padding: 1rem;
		}

		.section-grid {
			gap: 1rem;
		}

		.content-block {
			padding: 2rem;
		}

		.content-block-result {
			gap: 1rem;

			.team-result {
				font-size: 1rem;
			}
		}

		.content-block-standings-table {
			justify-content: left;
			white-space: nowrap;
			overflow-x: scroll;
		}
	}
}
