$dark-background: #0f0f0f;
$light-background: #272727;
$headline-color: #f1f1f1;
$text-colors: #aaa;
$gray-dark: #3f3f3f;
$green-mid: #198754;
$blue-dark: #004682;
$red-dark: #bd0000;
$red-dark-1: #7f0029;
