$dark-background: #0f0f0f;
$light-background: #272727;
$light-background-1: #f7f7f7;
$headline-color: #f1f1f1;
$text-colors: #aaa;
$gray-dark: #3f3f3f;
$green-mid: #198754;
$blue-dark: #004682;
$red-dark: #bd0000;
$red-dark-1: #7f0029;

$alert-warning-bc: #2c0b0e;
$alert-warning-c: #ea868f;
$alert-warning-b: #842029;
